<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <div class="header-left">
            <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="150" width="150" />
            
            <div class="header-charpoints">
                <h4 class="header-charpoints-titre">{{localize "SOLAIRES.Char.CharPoints"}}</h4>
                <span class="header-charpoints-value header-charpoints-point">{{data.status.charPoints.value}}</span>
                <span class="sep"> / </span>
                <span class="header-charpoints-max header-charpoints-point">{{data.status.charPoints.max}}</span>
            </div>
        </div>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "SOLAIRES.Char.Name"}}" /></h1>
            <ul class="identity">
                <li>
                    <label for="data.identity.roles">{{localize "SOLAIRES.Char.Roles"}}</label>
                    <input type="hidden" class="select-role-hidden" name="data.identity.roles" data-dtype="String" value="{{data.identity.roles}}">
                    <select class="select-role" name="select-role" multiple>
                        {{#selectmulti RolesValue}}
                            {{#each Roles as |role key|}}
                                <option>{{localize role}}</option>
                            {{/each}}
                        {{/selectmulti}}
                    </select>
                </li>
                <li>
                    <label for="data.identity.concept">{{localize "SOLAIRES.Char.Concept"}}</label>
                    <input type="text" data-dtype="String" name="data.identity.concept" value="{{data.identity.concept}}" />
                </li>
                <li>
                    <label for="data.identity.gender">{{localize "SOLAIRES.Char.Gender"}}</label>
                    <input type="text" data-dtype="String" name="data.identity.gender" value="{{data.identity.gender}}" />
                </li>
                <li>
                    <label for="data.identity.spiritNature">{{localize "SOLAIRES.Char.SpiritNature"}}</label>
                    <input list="list_spiritNature{{actor._id}}" type="text" data-dtype="String" name="data.identity.spiritNature" value="{{data.identity.spiritNature}}" />
                    <datalist id="list_spiritNature{{actor._id}}">
                        {{#each SpiritNatureTypes as |spiritNatureType key|}}
                        <option>{{localize spiritNatureType}}</option>
                        {{/each}}
                    </datalist>
                </li>
                <li>
                    <label for="data.identity.usualSheath">{{localize "SOLAIRES.Char.UsualSheath"}}</label>
                    <input list="list_sheath{{actor._id}}" type="text" data-dtype="String" name="data.identity.usualSheath" value="{{data.identity.usualSheath}}" />
                    <datalist id="list_sheath{{actor._id}}">
                        {{#each Sheaths as |sheath key|}}
                        <option>{{localize sheath}}</option>
                        {{/each}}
                    </datalist>
                </li>
                <li>
                    <label for="data.identity.profession">{{localize "SOLAIRES.Char.Profession"}}</label>
                    <input type="text" data-dtype="String" name="data.identity.profession" value="{{data.identity.profession}}" />
                </li>
                <li>
                    <label for="data.identity.affiliation">{{localize "SOLAIRES.Char.Affiliation"}}</label>
                    <input type="text" data-dtype="String" name="data.identity.affiliation" value="{{data.identity.affiliation}}" />
                </li>
                
            </ul>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="behavior">{{localize "SOLAIRES.Char.Tab.Behavior"}}</a>
        <a class="item" data-tab="description">{{localize "SOLAIRES.Char.Tab.Description"}}</a>
        <a class="item" data-tab="chronicle">{{localize "SOLAIRES.Char.Tab.Chronicles"}}</a>
        <a class="item" data-tab="elements">{{localize "SOLAIRES.Char.Tab.Elements"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Psychology Tab --}}
        <div class="tab behavior" data-group="primary" data-tab="behavior">
            <div class="row-flex">
                <ul>
                    <li>
                        <label>{{localize "SOLAIRES.Char.Personality"}}</label>
                        <textarea name="data.behavior.personality" rows="2" title="{{localize "SOLAIRES.Char.Personality"}}" data-dtype="String">{{data.behavior.personality}}</textarea>
                    </li>
                    <li>
                        <label>{{localize "SOLAIRES.Char.Manners"}}</label>
                        <textarea name="data.behavior.manners" rows="2" title="{{localize "SOLAIRES.Char.Manners"}}" data-dtype="String">{{data.behavior.manners}}</textarea>
                    </li>
                    <li>
                        <label>{{localize "SOLAIRES.Char.Goal"}}</label>
                        <textarea name="data.behavior.goal" rows="2" title="{{localize "SOLAIRES.Char.Goal"}}" data-dtype="String">{{data.behavior.goal}}</textarea>
                    </li>
                    <li>
                        <label>{{localize "SOLAIRES.Char.Motivation"}}</label>
                        <textarea name="data.behavior.motivation" rows="2" title="{{localize "SOLAIRES.Char.Motivation"}}" data-dtype="String">{{data.behavior.motivation}}</textarea>
                    </li>
                    <li>
                        <label>{{localize "SOLAIRES.Char.Opinions"}}</label>
                        <textarea name="data.behavior.opinions" rows="5" title="{{localize "SOLAIRES.Char.Opinions"}}" data-dtype="String">{{data.behavior.opinions}}</textarea>
                    </li>
                </ul>
            </div>
        </div>

        {{!-- description Tab --}}
        <div class="tab description" data-group="primary" data-tab="description">
            <div class="description-description row-flex">
                <h2>{{localize "SOLAIRES.Char.Description"}}</h2>
                <ul>
                    <li>
                        <label>{{localize "SOLAIRES.Char.Body"}}</label>
                        <textarea name="data.description.body" rows="3" title="{{localize "SOLAIRES.Char.Body"}}" data-dtype="String">{{data.description.body}}</textarea>
                    </li>
                    <li>
                        <label>{{localize "SOLAIRES.Char.Possessions"}}</label>
                        <textarea name="data.description.possessions" rows="3" title="{{localize "SOLAIRES.Char.Possessions"}}" data-dtype="String">{{data.description.possessions}}</textarea>
                    </li>
                </ul>
            </div>
            <div class="separator"></div>
            <div class="description-avatar row-flex">
                <h2>{{localize "SOLAIRES.Char.Avatar"}}</h2>
                <ul>
                    <li>
                        <label>{{localize "SOLAIRES.Char.Body"}}</label>
                        <textarea name="data.avatar.body" rows="3" title="{{localize "SOLAIRES.Char.Body"}}" data-dtype="String">{{data.avatar.body}}</textarea>
                    </li>
                    <li>
                        <label>{{localize "SOLAIRES.Char.Possessions"}}</label>
                        <textarea name="data.avatar.possessions" rows="3" title="{{localize "SOLAIRES.Char.Possessions"}}" data-dtype="String">{{data.avatar.possessions}}</textarea>
                    </li>
                </ul>
            </div>
        </div>
        {{!-- Chronicles --}}
        <div class="tab chronicle" data-group="primary" data-tab="chronicle">
            <div class="row-flex">
                <h2>{{localize "SOLAIRES.Char.Birth"}}</h2>
                <div class="container-flex">
                    <div class="bio-date row-flex">
                        <label>{{localize "SOLAIRES.Char.Date"}}</label>
                        <input type="text" placerholder="0000-00-00" data-dtype="String" name="data.birth.birthday" value="{{data.birth.birthday}}" />
                    </div>
                    <div class="bio-lieu row-flex">
                        <label>{{localize "SOLAIRES.Char.Place"}}</label>
                        <input type="text" data-dtype="String" name="data.birth.place" value="{{data.birth.place}}" />
                    </div>
                </div>
                <div class="bio-event">
                    <label>{{localize "SOLAIRES.Char.Details"}}</label>
                    <textarea name="data.birth.details" rows="3" title="{{localize "SOLAIRES.Char.Details"}}" data-dtype="String">{{data.birth.details}}</textarea>
                </div>
                <h2>{{localize "SOLAIRES.Char.Chronicles"}}</h2>
                {{editor content=data.birth.story target="data.birth.story" button=true owner=owner editable=editable}}
            </div>
        </div>
        {{!-- elements --}}
        <div class="tab elements" data-group="primary" data-tab="elements">
            <div class="elements-left row-flex">
                <h2>
                    {{localize "SOLAIRES.Char.Traits"}}
                    <a class="item-control item-add" title="{{localize 'SOLAIRES.Item.Add'}}" data-type="trait">
                        <i class="fas fa-plus"></i>
                    </a>
                </h2>
                <ol class="item-list">
                    {{#each data.traits as |trait id|}}
                    <li class="item flexrow" data-item-id="{{trait._id}}">
                        <img src="{{trait.img}}" title="{{trait.name}}" width="24" height="24" />
                        <span class="trait-name item-name">{{trait.name}}</span>
                        <span class="trait-value item-value">{{trait.data.value}}</span>
                        <div class="item-controls">
                            <a class="item-control item-post" title="{{localize "SOLAIRES.Item.PostChat"}}"><i class="fas fa-comment"></i></a>
                            <a class="item-control item-edit" title="{{localize "SOLAIRES.Item.Edit"}}"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="{{localize "SOLAIRES.Item.Delete"}}"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{/each}}
                </ol>
                <h2>
                    {{localize "SOLAIRES.Char.Careers"}}
                    <a class="item-control item-add" title="{{localize 'SOLAIRES.Item.Add'}}" data-type="career">
                        <i class="fas fa-plus"></i>
                    </a>
                </h2>
                <ol class="item-list">
                    {{#each data.careers as |career id|}}
                    <li class="item flexrow" data-item-id="{{career._id}}">
                        <img src="{{career.img}}" title="{{career.name}}" width="24" height="24" />
                        <span class="career-name item-name">{{career.name}}</span>
                        <span class="career-value item-value">{{career.data.value}}</span>
                        <div class="item-controls">
                            <a class="item-control item-post" title="{{localize "SOLAIRES.Item.PostChat"}}"><i class="fas fa-comment"></i></a>
                            <a class="item-control item-edit" title="{{localize "SOLAIRES.Item.Edit"}}"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="{{localize "SOLAIRES.Item.Delete"}}"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{/each}}
                </ol>
                <h2>
                    {{localize "SOLAIRES.Char.Relations"}}
                    <a class="item-control item-add" title="{{localize 'SOLAIRES.Item.Add'}}" data-type="relation">
                        <i class="fas fa-plus"></i>
                    </a>
                </h2>
                <ol class="item-list">
                    {{#each data.relations as |relation id|}}
                    <li class="item flexrow" data-item-id="{{relation._id}}">
                        <img src="{{relation.img}}" title="{{relation.name}}" width="24" height="24" />
                        <span class="relation-name item-name">{{relation.name}}</span>
                        <span class="relation-value item-value">{{relation.data.value}}</span>
                        <div class="item-controls">
                            <a class="item-control item-post" title="{{localize "SOLAIRES.Item.PostChat"}}"><i class="fas fa-comment"></i></a>
                            <a class="item-control item-edit" title="{{localize "SOLAIRES.Item.Edit"}}"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="{{localize "SOLAIRES.Item.Delete"}}"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{/each}}
                </ol>
                <h2>
                    {{localize "SOLAIRES.Char.Status"}}
                    <a class="item-control item-add" title="{{localize 'SOLAIRES.Item.Add'}}" data-type="status">
                        <i class="fas fa-plus"></i>
                    </a>
                </h2>
                <ol class="item-list">
                    {{#each data.statuses as |status id|}}
                    <li class="item flexrow" data-item-id="{{status._id}}">
                        <img src="{{status.img}}" title="{{status.name}}" width="24" height="24" />
                        <span class="status-name item-name">{{status.name}}</span>
                        <span class="status-value item-value">{{status.data.value}}</span>
                        <div class="item-controls">
                            <a class="item-control item-post" title="{{localize "SOLAIRES.Item.PostChat"}}"><i class="fas fa-comment"></i></a>
                            <a class="item-control item-edit" title="{{localize "SOLAIRES.Item.Edit"}}"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="{{localize "SOLAIRES.Item.Delete"}}"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{/each}}
                </ol>
            </div>
            <div class="separator"></div>
            <div class="elements-right row-flex">
                <h2>
                    {{localize "SOLAIRES.Char.Modifications"}}
                    <a class="item-control item-add" title="{{localize 'SOLAIRES.Item.Add'}}" data-type="modification">
                        <i class="fas fa-plus"></i>
                    </a>
                </h2>
                <ol class="item-list">
                    {{#each data.modifications as |modification id|}}
                    <li class="item flexrow" data-item-id="{{modification._id}}">
                        <img src="{{modification.img}}" title="{{modification.name}}" width="24" height="24" />
                        <span class="modification-name item-name">{{modification.name}}</span>
                        <span class="modification-value item-value">{{modification.data.value}}</span>
                        <div class="item-controls">
                            <a class="item-control item-post" title="{{localize "SOLAIRES.Item.PostChat"}}"><i class="fas fa-comment"></i></a>
                            <a class="item-control item-edit" title="{{localize "SOLAIRES.Item.Edit"}}"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="{{localize "SOLAIRES.Item.Delete"}}"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{/each}}
                </ol>
                <h2>
                    {{localize "SOLAIRES.Char.Softwares"}}
                    <a class="item-control item-add" title="{{localize 'SOLAIRES.Item.Add'}}" data-type="software">
                        <i class="fas fa-plus"></i>
                    </a>
                </h2>
                <ol class="item-list">
                    {{#each data.softwares as |softwares id|}}
                    <li class="item flexrow" data-item-id="{{softwares._id}}">
                        <img src="{{softwares.img}}" title="{{softwares.name}}" width="24" height="24" />
                        <span class="softwares-name item-name">{{softwares.name}}</span>
                        <span class="softwares-value item-value">{{softwares.data.value}}</span>
                        <div class="item-controls">
                            <a class="item-control item-post" title="{{localize "SOLAIRES.Item.PostChat"}}"><i class="fas fa-comment"></i></a>
                            <a class="item-control item-edit" title="{{localize "SOLAIRES.Item.Edit"}}"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="{{localize "SOLAIRES.Item.Delete"}}"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{/each}}
                </ol>
                <h2>
                    {{localize "SOLAIRES.Char.Equipments"}}
                    <a class="item-control item-add" title="{{localize 'SOLAIRES.Item.Add'}}" data-type="equipment">
                        <i class="fas fa-plus"></i>
                    </a>
                </h2>
                <ol class="item-list">
                    {{#each data.equipments as |equipment id|}}
                    <li class="item flexrow" data-item-id="{{equipment._id}}">
                        <img src="{{equipment.img}}" title="{{equipment.name}}" width="24" height="24" />
                        <span class="equipment-name item-name">{{equipment.name}}</span>
                        <span class="equipment-value item-value">{{equipment.data.value}}</span>
                        <div class="item-controls">
                            <a class="item-control item-post" title="{{localize "SOLAIRES.Item.PostChat"}}"><i class="fas fa-comment"></i></a>
                            <a class="item-control item-edit" title="{{localize "SOLAIRES.Item.Edit"}}"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="{{localize "SOLAIRES.Item.Delete"}}"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{/each}}
                </ol>
            </div>
        </div>
    </section>
</form>